@charset "utf-8";

$static:'./';
$folder:'/module';

$minWidth: 320px;
$fontFamily:'나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem;
$indentValue:-999em;
$bodyColor:#fff;
$baseFontSize:14px;
$fontColor:#333;
$linkColor:#555;
$hoverColor:#555;
