@charset "UTF-8";
$borderColor: #dcdcdc;
$pointColor:#117EC3;
$fontColor:#545454;
$hoverColor:#f6f6f6;
/* defualt setting */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, strong { margin: 0; padding: 0; letter-spacing: -1px; }

body { background: #fff; color: $fontColor; margin: 0; padding: 0; font-family: '나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem; font-size: 13px; line-height: 1; }

button { outline: 0; background: none; border: 0; cursor: pointer; }

img { border: 0; vertical-align: top }

ul, ol { list-style: none; }

em{ font-style: normal;}

table { border-spacing: 0; }

caption { height: 0; overflow: hidden; font-size: 0; }

a { color: $fontColor; text-decoration: none }

a:hover { color: $fontColor; }



#lnb{
  >ul{padding:10px;border:1px solid $borderColor; width: 295px;
	>li{
	  &.current{
		a{ background: $pointColor; color:#fff;}
		.depth2{ display: block;
		  >li{
			a{ display: block;padding:16px 20px 16px 30px;background: #fff;color:#000;
			  &:hover{ background: $hoverColor;}
			}
		  }
		}
	  }
	  &:first-child{a{ border-top:none;}}
	  >a{ display: block; position: relative;padding:16px 20px; font-size: 14px; border-top:1px solid $borderColor;
		&:hover{ background: $pointColor;color:#fff;}
		&:after{ display: block; position: absolute;content:">";top:16px; right:20px;}
	  }
	}
  }
  .depth2,.depth3{ display: none;}
  .depth2{
	>li{
	  a{ background: #fff;color:#000}
	}
  }
}
