@charset "utf-8";

$static:'.';
$folder:'.';

$minWidth:1100px;
$imgWidth:2560px;

$fontFamily:'Malgun Gothic', '맑은고딕', Dotum, '돋움', Hevetica, AppleGothic, sans-serif;
$baseFontSize:12px;
$indentValue:-999em;

$fontColor:#000;
$linkColor:#000;
$bodyColor:#fff;
