@charset "utf-8";

$static:'/promo/aion/event/2017/';
$folder:'171025_service';

$minWidth:320px;
$imgWidth:100%;

$fontFamily:-apple-system, BlinkMacSystemFont, Roboto, "맑은 고딕", "Malgun Gothic", "Microsoft JhengHei", "meiryo", "MS PGothic", "돋움", Dotum, sans-serif;
$baseFontSize:12px;
$indentValue:-999em;

$fontColor:#fff;
$linkColor:#000;
$bodyColor:#000;

$button:(
        '.btn-link-main': (
                'width':19,
                'height':6.5,
                'top':2.2,
                'margin-left':-46
        )
);
